<body>
    <header>
        <nav>
          <div class="logo">
            <img src="../assets/Images/logo.png" alt="Pharmacy Logo">
        </div>
            <ul>
                <li><a href="#">Login/SignUp</a></li>
            </ul>
        </nav>
      </header>
  
      <div class="inside-img">
        <div class="hero">
          <h1>Welcome to Online Pharmacy</h1>
          <p>Your Trusted Source for Healthcare Products</p>
          <a href="#" class="cta-button">Shop Now</a>
        </div>
      </div>
  
      <div class="scroll-container">
        <img src="../assets/Images/img2.jpg">
        <img src="../assets/Images/img4.jpg">
        <img src="../assets/Images/img5.jpg">
      </div>
  
      <app-onlyfeedback></app-onlyfeedback>
  
  
    <footer>
        <p>&copy; 2023 Online Pharmacy</p>
    </footer>
  </body>