<body>
    <header>
        <nav>
          <div class="logo">
            <img src="../assets/Images/logo.png" alt="Pharmacy Logo">
        </div>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Manage Customers</a></li>
                <li><a href="#">Stock Management</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
      </header>
  
      <div class="inside-img">
        <div class="hero">
          <h1>Welcome Admin</h1>
          <p>Your Trusted Source for Healthcare Products</p>
        </div>
      </div>
  
      <div class="scroll-container">
        <img src="../assets/Images/img2.jpg">
        <img src="../assets/Images/img4.jpg">
        <img src="../assets/Images/img5.jpg">
      </div>
  
      <app-feedbackadmin></app-feedbackadmin>
  
  
    <footer>
        <p>&copy; 2023 Online Pharmacy</p>
    </footer>
  </body>